<ion-header>
  <ion-toolbar>
    <ion-title>
      Review
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
      <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button expand="block" slot="end" color="primary">Submit</ion-button>
  </ion-item>
</ion-content>