<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-input [(ngModel)]="playlist.name" placeholder="Playlist Title"></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="custom-list">
    <ion-list-header>
      Beats Selected
    </ion-list-header>
    <ion-item>
      <ion-label>Beats</ion-label>
      <ion-select multiple="true" slot="end">
        <ion-select-option *ngFor="let beat of beatsList">{{beat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button (click)="close()" margin shape="round" expand="full">
        Save
      </ion-button>
    </ion-toolbar>
  </ion-footer>