<ion-header>
  <ion-toolbar>
    <ion-title>
      Beats
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="custom-list">
    <ion-list-header>
      <ion-label>List of Beats</ion-label>
      <ion-button (click)="createNewBeatModal()" size="small">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let beat of beatsList">
      <ion-label>{{beat.name}}</ion-label>
      <ion-icon (click)="presentActionSheet(beat)" name="more" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>