<ion-header>
  <ion-toolbar>
    <ion-title>
      Beats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="custom-list">
    <ion-list-header>
      <ion-label>List of Beats</ion-label>
      <ion-button margin-right (click)="createNewBeatModal()" size="small">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let beat of beatsList">
      <ion-label>{{beat.name}}</ion-label>
      <ion-button color="medium" (click)="presentActionSheet(beat)" >
        <ion-icon name="more" slot="end"></ion-icon>
        Options
      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>