// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.custom-list{
    margin:2%;
    margin-top: 7.5%;
    border: 2px solid grey;
    border-radius: 10px;
    ion-list-header{
        font-size:1.3em;
        border-bottom: 1px solid grey;
        ion-button{
            padding-right:5%;
        }
    }
    ion-item{
        margin-left: 5%;
        font-size:0.8rem;
    }
    ion-icon{
        padding-right:1%;
    }
}
.scrollable-items{
    height: 200px;

}
ion-card{

    ion-card-header{
        color: black;
        font-size:1.5em;
    }

    ion-card-content{
        color: black;
    }

    ion-item{}
    
}
